/**
 * SPDX-FileCopyrightText: 2022 n9k [https://git.076.ne.jp/ninya9k]
 * SPDX-License-Identifier: AGPL-3.0-or-later
 **/

:root {
  --text-color: #ddd;

  --main-bg-color: #18181a;
  --chat-bg-color: #232327;

  --border-width: 1px;
  --chat-width: 320px;

  --main-border: var(--border-width) solid #38383d;
  --chat-border: var(--border-width) solid #4a4a4f;

  --aspect-x: 16;
  --aspect-y: 9;

  --pure-video-height: calc(100vw * var(--aspect-y) / var(--aspect-x));
  --video-height: max(144px, min(75vh, var(--pure-video-height)));

  --button-height: 2rem;
  --nojs-info-height: 17ch;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-auto-rows: var(--video-height) auto min-content 1fr auto;
  grid-template-areas:
    "stream"
    "nav"
    "info"
    "chat"
    "footer";
}
a {
  color: #42a5d7;
}
iframe {
  width: 100%;
  border: none;
  box-sizing: border-box;
}
noscript {
  display: grid;
  height: 100%;
}

#stream {
  background: black;
  grid-area: stream;
  position: relative;
}
#stream__video {
  width: 100%;
  height: 100%;
}
#stream__offline {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  align-content: center;
  font-size: 20pt;
  background-color: black;
  user-select: none;
}
#stream__offline > h1 {
  margin: 0;
}
#stream:not([data-offline]) > #stream__offline {
  display: none;
}
#stream_nojs {
  height: 100%;
}

#info {
  border-top: var(--main-border);
  grid-area: info;
}
#info_js {
  overflow-y: auto;
  padding: 0.75ch 1.25ch;
  height: 100%;
  box-sizing: border-box;
}
#info_js__float {
  float: right;
  font-size: 11pt;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2.5ch;
}
#info_js__float__button:not([data-visible]) {
  display: none;
}
#info_js__float__uptime {
  font-variant-numeric: tabular-nums;
}
#info_js__title > h1 {
  margin: 0;
  font-size: 18pt;
  line-height: 1.125;
  overflow-wrap: anywhere;
}
#info_nojs {
  height: 100%;
}

#chat {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  background-color: var(--chat-bg-color);
  border-top: var(--chat-border);
  border-bottom: var(--chat-border);
  grid-area: chat;
  height: 50vh;
  min-height: 24ch;
  position: relative;
}
#chat__toggle {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
#chat__toggle:checked ~ #chat__body > #chat__body__messages,
#chat__toggle:not(:checked) ~ #chat__body > #chat__body__users {
  visibility: hidden;
}
#chat__toggle:checked + #chat__header > #chat__header__button {
  border-style: inset;
  background-color: #b3b3bf;
}
#chat__toggle:checked + #chat__header > #chat__header__button:hover {
  background-color: #a6a6b1;
}
#chat__toggle:focus-visible + #chat__header > #chat__header__button {
  border-color: #3584e4;
  box-shadow: 0 0 6px #3584e4;
}
#chat__header {
  padding: 0.5rem;
  border-bottom: var(--chat-border);
  display: grid;
  align-items: center;
}
#chat__header__button {
  grid-column: 1;
  grid-row: 1;
  width: min-content;
  z-index: 1;
  padding: 1px 5px;
  background-color: #c9c9d3;
  border: 3px outset #8f8f9d;
  border-radius: 4px;
  color: black;
  user-select: none;
}
#chat__header__button:hover {
  background-color: #b3b3bf;
}
#chat__header__button:active {
  border-style: inset;
  background-color: #9999a4 !important;
}
#chat__header__text {
  margin: 0;
  font-weight: normal;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}
#chat__body {
  position: relative;
}
#chat__body__messages {
  position: relative;
  height: 100%;
}
#chat-messages_js {
  list-style: none;
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  font-size: 11pt;
}
#chat-messages_js:not([data-scroll-lock]) + #chat-messages-unlock {
  display: none;
}
#chat-messages-unlock {
  position: absolute;
  bottom: 1rem;
  color: inherit;
  font-size: 10pt;
  text-align: center;
  width: calc(100% - 4rem);
  margin: 0 2rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
  background-color: #316aaf;
  border-radius: 4px;
  border: 1px outset #4c91e6;
  box-shadow: 0 0 3px #4c91e6;
  cursor: pointer;
}
#chat-messages-unlock:hover {
  background-color: #3674bf;
}
#chat-messages_nojs {
  height: 100%;
}
.chat-message {
  padding: 0.5ch 0.75ch;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}
.chat-message:hover {
  background-color: #434347;
}
.chat-message__time {
  color: #b2b2b3;
  font-size: 10pt;
  cursor: default;
}
.chat-insignia {
  text-shadow: 0 0 2px orangered;
  cursor: help;
}
.chat-name {
  overflow-wrap: anywhere;
  font-weight: bold;
  /* color: attr("data-color"); */
  cursor: default;
}
.chat-name__tag {
  font-family: monospace;
  font-size: 9pt;
  vertical-align: top;
}
.chat-message__markup {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  line-height: 1.3125;
}
.tripcode {
  padding: 0 5px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 9pt;
  cursor: default;
}
#chat__body__users {
  background-color: #121214;
  mask-image: linear-gradient(black calc(100% - 0.625rem), transparent calc(100% - 0.125rem));
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: min-content auto;
}
#chat-users-header {
  padding: 0.5rem;
  background-color: #2c2c30;
  border-bottom: var(--chat-border);
}
#chat-users-header > h4 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}
#chat-users_js {
  padding: 0.5rem 0.75rem 0.875rem;
  overflow: auto;
}
#chat-users_js__watching-header,
#chat-users_js__notwatching-header {
  margin: 0;
}
#chat-users_js__watching,
#chat-users_js__notwatching {
  margin: 0;
  padding-left: 0.75rem;
  list-style: none;
}
.chat-user {
  line-height: 1.4375;
}
#chat-users_nojs {
  height: 100%;
}
#chat__form {
  position: relative;
}
#chat-form_js {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content 5rem;
  grid-template-rows: auto var(--button-height);
  grid-gap: 0.375rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: relative;
}
#chat-form_js__comment {
  grid-column: 1 / span 5;
  background-color: #434347;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.25s;
  max-height: max(37.5vh, 16ch);
  min-height: 1.75ch;
  height: 6ch;
  padding: 0.675rem;
  color: #c3c3c7;
  resize: vertical;
}
#chat-form_js__comment:not(:focus):hover {
  border-color: #737377;
}
#chat-form_js__comment:focus {
  background-color: black;
  border-color: #3584e4;
}
#chat-form_js__captcha-image {
  color: inherit;
  font-size: 8pt;
}
#chat-form_js__captcha-image[data-reloadable] {
  cursor: pointer;
}
#chat-form_js__captcha-answer {
  width: 8ch;
}
#chat-form_js__settings {
  align-self: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--text-color);
  grid-column: 4;
}
#chat-form_js__settings:hover {
  background-color: #434347;
}
#chat-form_js__submit {
  grid-column: 5;
}
#chat-form_js:not([data-captcha]) > #chat-form_js__captcha-image,
#chat-form_js:not([data-captcha]) > #chat-form_js__captcha-answer {
  display: none;
}
#chat-form_js:not([data-notice]) > #chat-form_js__notice {
  display: none;
}
#chat-form_js__notice {
  position: absolute;
  width: 100%;
  background: linear-gradient(#23232700, #2323277f 8%, #232327);
  height: 100%;
  display: grid;
  z-index: 1;
}
#chat-form_js__notice__button {
  color: inherit;
  border-color: black;
  background-color: #232327;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  display: grid;
  grid-gap: 0.375rem;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0 12px black;
  cursor: pointer;
}
#chat-form_js__notice__button__header {
  font-size: 14pt;
  line-height: 1.5;
}
#chat-form_nojs {
  height: 13ch;
}
#appearance-form_js {
  position: absolute;
  bottom: 3rem;
  padding: 0.5rem;
  margin: 0 1rem;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  background: #343437df;
  border: 2px outset #434347;
  border-radius: 4px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 0.375rem;
}
#appearance-form_js[data-hidden] {
  display: none;
}
#appearance-form_js__label-name,
#appearance-form_js__label-tripcode {
  align-self: center;
}
#appearance-form_js__name,
#appearance-form_js__password {
  min-width: 12ch;
}
#appearance-form_js__row {
  grid-column: 1 / span 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: auto 4rem;
  align-items: end;
}
#appearance-form_js__row__result {
  font-weight: bold;
  font-size: 11pt;
}
#appearance-form_js__row__result > ul {
  margin: 0;
  padding-left: 1.125rem;
  font-size: 10pt;
}
#appearance-form_js__row__submit {
  min-height: 1.75rem;
}
#chat-live {
  position: relative;
  font-size: 9pt;
  line-height: var(--button-height);
}
#chat-live__ball {
  border: 4px solid maroon;
  border-radius: 4px;
  display: inline-block;
  margin-right: 2px;
  animation: 3s infinite glow;
}
#chat-live__status {
  position: absolute;
  left: 13px;
  display: inline-grid;
  grid-auto-flow: column;
  height: 100%;
  align-content: center;
  line-height: 1.1875;
}
#chat-live__status [data-verbose="false"] {
  display: none;
}
@keyframes glow {
    0% {filter: brightness(100%)}
   50% {filter: brightness(150%)}
  100% {filter: brightness(100%)}
}

#nav {
  grid-area: nav;
  border-top: var(--main-border);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#nav > a {
  text-align: center;
  padding: 1ch;
  font-variant: all-small-caps;
  text-decoration: none;
  color: inherit;
  background-color: #3674bf;
  border: 2px outset #3584e4;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 0.75ch;
  background: linear-gradient(#38383d, #1d1d20 16%);
  font-size: 9pt;
}

#info, #chat {
  display: none;
}
#info:target, #both:target > #info {
  display: block;
}
#chat:target, #both:target > #chat {
  display: grid;
}
#info:target ~ #nav > [href="#info"],
#chat:target ~ #nav > [href="#chat"],
#both:target > #nav > [href="#both"] {
  background-color: #3065a6;
  border-style: inset;
}
#both:target #info_nojs {
  height: 9ch;
}
#info:target {
  grid-row-end: chat-end;
}

@media (min-width: 720px) {
  :root {
    --pure-video-height: calc((100vw - var(--chat-width) - var(--border-width)) * var(--aspect-y) / var(--aspect-x));
  }
  body {
    grid-auto-rows: var(--video-height) 1fr auto;
    grid-auto-columns: 1fr var(--chat-width);
    grid-template-areas:
      "stream chat"
      "info chat"
      "footer chat";
  }
  #nav {
    display: none;
  }
  #info {
    display: block;
  }
  #chat {
    display: grid;
    border: none;
    border-left: var(--chat-border);
    min-height: 100%;
  }
  #chat-form_js[data-captcha] #chat-live__status [data-verbose="true"] {
    display: none;
  }
  #chat-form_js[data-captcha] #chat-live__status [data-verbose="false"] {
    display: inline;
  }
  #nochat:target {
    --chat-width: 0px;
  }
  #nochat:target #chat {
    display: none;
  }
}
