{%
  macro appearance(
    user,
    insignia_class,
    name_class,
    tag_class,
    tripcode_nbsp_class='for-tripcode',
    tripcode_class='tripcode for-tripcode'
  )
%}
  {{- '' -}}
  {%- if user.broadcaster -%}
    <b class="{{ insignia_class }}" title="Broadcaster">##</b>
    {{- '&nbsp;' | safe -}}
  {%- endif -%}
  <span class="{{ name_class }}" style="color:{{ user.color }};">
    {{- user.name or get_default_name(user) -}}
    {%- if not user.broadcaster and user.name is none -%}
      <sup class="{{ tag_class }}"><b>{{ user.tag }}</b></sup>
    {%- endif -%}
  </span>
  {%- if user.tripcode -%}
    <span class="{{ tripcode_nbsp_class }}">&nbsp;</span>
    {{- '' -}}
    <span class="{{ tripcode_class }}" style="background-color:{{ user.tripcode.background_color }};color:{{ user.tripcode.foreground_color }};">{{ user.tripcode.digest }}</span>
  {%- endif -%}
{% endmacro %}
