<!doctype html>
<html id="nochat">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body id="both" data-token="{{ user.token }}">
  <video id="stream" src="{{ url_for('stream', token=user.token) }}" controls></video>
  <article id="info">
    <noscript><iframe id="info_nojs" src="{{ url_for('nojs_info', token=user.token) }}" data-js="false"></iframe></noscript>
  </article>
  <aside id="chat">
    <header id="chat__header">Stream chat</header>
    <article id="chat__messages">
      <noscript><iframe id="chat-messages_nojs" src="{{ url_for('nojs_chat', token=user.token, _anchor='bottom') }}" data-js="false"></iframe></noscript>
    </article>
    <section id="chat__form">
      <noscript><iframe id="chat-form_nojs" src="{{ url_for('nojs_form', token=user.token) }}" data-js="false"></iframe></noscript>
    </section>
  </aside>
  <nav id="toggle">
    <a href="#info">info</a>
    <a href="#chat">chat</a>
    <a href="#both">both</a>
  </nav>
  <footer>anonstream 1.0.0 &mdash; <a href="#" target="_blank">source</a></footer>
  <script src="/static/anonstream.js" type="text/javascript"></script>
</body>
</html>
