<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    body {
      overflow-y: auto;
      margin: 1ch 1.5ch;
      font-family: sans-serif;
      color: #ddd;
    }
    #uptime {
      float: right;
      font-size: 11pt;
    }
    #title > h1 {
      margin: 0;
      font-size: 18pt;
      line-height: 1.125;
      overflow-wrap: anywhere;
    }
  </style>
</head>
<body>
  <aside id="uptime">{{ uptime }}</aside>
  <header id="title"><h1>{{ title }}</h1></header>
</body>
</html>
