<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body id="both">
  <video id="stream" src="/stream.mp4" controls></video>
  <article id="info">
    Stream title
  </article>
  <aside id="chat">
    <header id="chat__header">Stream chat</header>
  </aside>
  <nav id="toggle">
    <a href="#info">info</a>
    <a href="#chat">chat</a>
    <a href="#both">both</a>
  </nav>
  <footer>v1.0.0 &mdash; <a href="#" target="_blank">source</a></footer>
</body>
</html>
