<html>
<head>
{% if not debug %}<meta http-equiv="refresh" content="8">{% endif %}
<style>
          body {color:white;margin-left: 1em;}
          .group {margin-bottom:1.5em;}
          .group-name {margin-bottom:0.25em;}
          .person {margin-left: 0.5em;}
          .camera {transform: scaleX(-1);text-shadow: 0px 0px 6px #{{ broadcaster_colour.hex() }};cursor: help;margin-right:0.25em;}
          .name {font-weight: bold;unicode-bidi: isolate;}
          sup {margin: 0 -0.25em 0 0.125em;font-size: 90%;font-family:monospace;}
          .tripcode {
              margin-left: 0.5em;
              padding: 0 5px;
              border-radius: 6px;
              font-size: 90%;
              font-family: monospace;
              vertical-align: middle;
              display: inline-block;
          }
</style>
</head>
<body>
    {% with person = people['broadcaster'] %}
        {% if person %}
            <div class="group">
                <div class="group-name">Broadcaster</div>
                <div class="person">
                    <span class="camera" title="Broadcaster">🎥</span><span class="name" style="color:#{{ person['colour'].hex() }};">{{ person['nickname'] or default_nickname(person['token']) }}</span>{% if person['tripcode']['string'] %}<div class="tripcode" style="background-color:#{{ person['tripcode']['background_colour'].hex() }};color:#{{ person['tripcode']['foreground_colour'].hex() }};">{{ person['tripcode']['string'] }}</div>{% endif %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% if broadcaster %}
    <form action="{{ url_for('mod_users') }}" method="post">
        <input type="hidden" name="noscript" value="1">
        <input type="hidden" name="banned" value="1">
{% endif %}
    <div class="group">
        <div class="group-name">Users watching ({{ len(people['watching']) }})</div>
        {% for person in people['watching'] %}
            <div class="person">
                {% if broadcaster %}<input type="checkbox" name="token[]" value="{{ person['token'] }}">{% endif %}<span class="name" style="color:#{{ person['colour'].hex() }};">{{ person['nickname'] or default_nickname(person['token']) }}{% with tag = person['nickname'] == None %}{% if tag %}<sup>{{ person['tag'] }}</sup>{% endif %}</span>{% if person['tripcode']['string'] %}{% if tag %}<span style="margin-right:0.125em;"></span>{% endif %}<div class="tripcode" style="background-color:#{{ person['tripcode']['background_colour'].hex() }};color:#{{ person['tripcode']['foreground_colour'].hex() }};">{{ person['tripcode']['string'] }}</div>{% endif %}{% endwith %}{% if person['token'] == token %}<span style="margin-left:0.5em;color:white;">(You)</span>{% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="group">
        <div class="group-name">Users not watching ({{ len(people['not_watching']) }})</div>
        {% for person in people['not_watching'] %}
            <div class="person">
                {% if broadcaster %}<input type="checkbox" name="token[]" value="{{ person['token'] }}">{% endif %}<span class="name" style="color:#{{ person['colour'].hex() }};">{{ person['nickname'] or default_nickname(person['token']) }}{% with tag = person['nickname'] == None %}{% if tag %}<sup>{{ person['tag'] }}</sup>{% endif %}</span>{% if person['tripcode']['string'] %}{% if tag %}<span style="margin-right:0.125em;"></span>{% endif %}<div class="tripcode" style="background-color:#{{ person['tripcode']['background_colour'].hex() }};color:#{{ person['tripcode']['foreground_colour'].hex() }};">{{ person['tripcode']['string'] }}</div>{% endif %}{% endwith %}{% if person['token'] == token %}<span style="margin-left:0.5em;color:white;">(You)</span>{% endif %}
            </div>
        {% endfor %}
    </div>
{% if broadcaster %}
        <button>Ban</button>
    </form>
    <div style="margin:1.75em 0 1.5em 0;border-bottom:1px solid #3f3f3f;"></div>
    <form action="{{ url_for('mod_users') }}" method="post">
        <input type="hidden" name="noscript" value="1">
        <input type="hidden" name="banned" value="0">
        <div class="group-name">Banned ({{ len(people['banned']) }})</div>
        <div class="group">
            {% for person in people['banned'] %}
                <div class="person">
                    <input type="checkbox" name="token[]" value="{{ person['token'] }}"><span class="name" style="color:#{{ person['colour'].hex() }};">{{ person['nickname'] or default_nickname(person['token']) }}{% with tag = person['nickname'] == None %}{% if tag %}<sup>{{ person['tag'] }}</sup>{% endif %}</span>{% if person['tripcode']['string'] %}{% if tag %}<span style="margin-right:0.125em;"></span>{% endif %}<div class="tripcode" style="background-color:#{{ person['tripcode']['background_colour'].hex() }};color:#{{ person['tripcode']['foreground_colour'].hex() }};">{{ person['tripcode']['string'] }}</div>{% endif %}{% endwith %}
                </div>
            {% endfor %}
        </div>
        <button>Unban</button>
    </form>
{% endif %}
</body>
</html>